// Shades Palette
$white: #FFFFFF;
$gray: #708090;
$black: #000000;

// Blue Palette
$blue-100: #2290F6;
$blue-200: #3494E6;
$blue-300: #0483F8;

// Pink Palette
$pink-100: #F73A9A;
$pink-200: #FF5CAF;
$pink-300: #FFBEDF;
